<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center sidebar-brand-text mx-3">EverywhereTEW<sup></sup></div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a (click)="changePageIndex(0)" class="nav-link btn">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">Cluster</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item ">
      <a (click)="clusterList.length>0 ? clearClusterList() : getClusterList()" class="nav-link btn" aria-expanded="true" aria-controls="collapseTwo">
        <span>Cluster inseriti </span> <i class="fas fa-angle-down"></i>
      </a>

      <div *ngIf="isLoading" class="progress mr-3 ml-3">
        <div *ngIf="isLoading" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>

      <div *ngIf="clusterList.length>0 && !isLoading" class="bg-white rounded list-group ml-3 mr-3 w-auto">
        <a *ngFor="let clustModel of clusterList" (click)="changePageIndex(1)" class="list-group-item list-group-item-action btn p-1"> {{clustModel.name}} </a>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
      <!-- Topbar -->
      <app-navbar></app-navbar>
      <!-- End of Topbar -->

      <app-dashboard *ngIf="pageIndex==0"></app-dashboard>
      <app-cluster *ngIf="pageIndex==1"></app-cluster>
      <app-error *ngIf="pageIndex==-1"></app-error>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Everywheretew 2022</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->
</div>
