<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Dettaglio cluster: {{clusterSelected.name}}</h1>
  <p class="mb-4">In questa sezione sono visualizzati i dati relativi al cluster selezionato.</p>

  <!-- Content Row -->
  <div class="row">

    <div class="col-lg-6">
      <!-- Area Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Totale acquisti cluster: {{clusterSelected.name}}</h6>
        </div>
        <div class="card-body">
          <div *ngIf="isLoading; else elseBlock" class="progress mr-3 ml-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
          <ng-template #elseBlock><app-chart-barre-utenti-sesso [clusterSelected]="clusterSelected"></app-chart-barre-utenti-sesso></ng-template>
          <hr>
        </div>
      </div>
    </div>

    <!-- Donut Chart -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Provenienza visualizzazioni</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div *ngIf="isLoading; else elseBlockTorta" class="progress mr-3 ml-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
          <ng-template #elseBlockTorta><app-chart-torta-prov-visualizzazioni [clusterSelected]="clusterSelected"></app-chart-torta-prov-visualizzazioni></ng-template>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Prodotti maggiormente acquistati</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable">
          <thead>
          <tr>
            <th>Nome prodotto</th>
            <th>Tags</th>
            <th>Paese Provenienza</th>
            <th>Eta media acquisto</th>
            <th>Data pubblicazione</th>
            <th>Ricavi Totali</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let prodotto of clusterSelected.Products">
            <td>{{prodotto.Name}}</td>
            <td>{{prodotto.Tags}}</td>
            <td>{{prodotto.Country}}</td>
            <td>{{prodotto.AvgAge}}</td>
            <td>{{prodotto.PublishDate}}</td>
            <td>{{prodotto.TotalEarnings}} EURO</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
